.container{
    height: 400px;
    width: 400px;
    /* background-color: aqua; */
    border: 2px solid rgb(43, 131, 131);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

}
.child{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    /* font-size: 3rem; */
    font-size: 50px;
}
