<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is home page 1*2</h1>
    <h3> <%= 1*2%></h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo qui voluptatibus minus hic cupiditate laudantium eum, incidunt deserunt maiores assumenda, nesciunt accusamus blanditiis quibusdam similique veritatis et sed totam?
    </p>
    <button>Click me!</button>
</body>
</html>